.photo-grid {
  /* padding: 92px 0 0 0; */
  padding: 76px 0 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
}

@media screen and (max-width: 1183px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
    max-width: var(--page-max-width-without-padding);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-top: 71px;
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding-top: 49px;
    grid-template-columns: 100%;
    gap: 12px;
  }
}
