.places {
/*   padding: 92px var(--add-padding) 92px var(--add-padding); */
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: var(--page-max-width-without-add-padding);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1215px) {
  .places {
    /*padding-bottom: 41px;*/
    padding-bottom: 90px;
    max-width: var(--page-max-width-without-padding);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding-bottom: 93px;
    /* padding-bottom: 140px; */
    /* У меня на этом размере экрана вот так https://recordit.co/IFSuEse7UH
    Сдвиг происходи из-за того что нет переноса для Куршской косы
    Вернул прежний отступ. судя по вашему скриншоту разница как раз на него */
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    /* padding-bottom: 30px; */
    /* padding-bottom: 65px; */
    padding-bottom: 91px;
    gap: 49px;
  }
}
