.places {
/*   padding: 92px var(--add-padding) 92px var(--add-padding); */
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: var(--page-max-width-without-add-padding);
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1215px) {
  .places {
    padding-bottom: 41px;
    max-width: var(--page-max-width-without-padding);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    /* padding-bottom: 93px; */
    padding-bottom: 140px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    /* padding-bottom: 30px; */
    padding-bottom: 57px;
    gap: 49px;
  }
}
