.places {
  padding: 92px var(--add-padding) 92px var(--add-padding);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1183px) {
  .places {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 41px;
    max-width: var(--page-max-width-without-padding);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding-bottom: 0;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    gap: 49px;
  }
}
