.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 0 0;
}

@media screen and (max-width: 1215px) {
  .header {
    max-width: var(--page-max-width-without-padding);
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 8px;
  }
}
