:root {
  --basic-dark: #2a2c2f;
  --basic-white: #fff;
  --basic-gray: #aaa;
  --page-max-width-without-padding: 1184px;
  --page-padding: 48px;
  --add-padding: 100px;
  --page-max-width-without-add-padding: calc(var(--page-max-width-without-padding) - var(--add-padding)*2);
}

.root {
  font-family: 'Inter', sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  max-width: 1184px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 1215px) {
  :root {
    --page-max-width-without-padding: 928px;
  }
}

@media screen and (max-width: 968px) {
  :root {
    --page-max-width-without-padding: 720px;
    --page-padding: 24px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --page-max-width-without-padding: 288px;
    --page-padding: 16px;
  }
}
