.places__place {
  /*   width: 100%; */
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  /*   display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  gap: 48px 40px;
}

@media screen and (max-width: 1183px) {
  .places__place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}
