.places__place {
  /*   width: 100%; */
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  /*   display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  gap: 48px 40px;
}

@media screen and (max-width: 1183px) {
  .places__place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 440px);
    gap: 45px 28px;
  }
  /* костыль чтобы был перенос заголовка Куршская коса на 768 */
  /* да я понимаю, что это костыль, но там по другому никак. при одном размере экрана этот заголовок
  должен переноситься по словам, при другом нет. При этом на макете 768 есть Зимний байкал который не переносится.
  соотвественно ширину для всех элементов с этим классом мы задать не можем.
  Использовать неразрывные пробелы тоже не можем, ибо опять таки в одном случае есть перенос в другом нет.
  Но из-за этого заголовка плывет относительно макета положение следующих элементов и в концу страницы достигает значений не проходящих
  по требованиям из чек листа (10пх для маленький размеров).
  Пришлось вставить костыль в другом месте просто увеличив отступ перед кавером.
  подобная беда с к переносами в тексте, реализовать как в макете это уж очент нетрифиальная задача. от размера к размеру идут коллизии
  и сделать чтобы переносы совпадали во всех размера не получается. /*
/*   .places__place:nth-of-type(1) .places__title {
    width: 50%;
  } */
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: 100%;
    gap: 32px;
  }
/*   .places__place:nth-of-type(1) .places__title {
    width: 100%;
  } */
}
