.places__place {
  /*   width: 100%; */
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  /*   display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  gap: 48px 40px;
}

@media screen and (max-width: 1183px) {
  .places__place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 440px);
    gap: 45px 28px;
  }
  /* костыль чтобы был перенос заголовка Куршская коса на 768 */
/*   .places__place:nth-of-type(1) .places__title {
    width: 50%;
  } */
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: 100%;
    gap: 32px;
  }
/*   .places__place:nth-of-type(1) .places__title {
    width: 100%;
  } */
}
