.cover__overlay {
  text-align: center;
  color: var(--basic-white);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .3s linear;
  /* padding: 245px 0 244px 0; */
  min-height: 740px;
  width: 100%;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 252px;
  }
}
