.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 77px 0 0 0;
}

@media screen and (max-width: 1215px) {
  .footer {
    max-width: var(--page-max-width-without-padding);
    margin: 0 auto;
    /*padding-top: 26px;*/
    padding-top: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 76px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    /* padding-top: 38px; */
    padding-top: 65px;
    flex-direction: column;
    gap: 33px;
    align-items: flex-start;
  }
}
