.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 77px 0 0 0;
}

@media screen and (max-width: 1183px) {
  .footer {
    max-width: var(--page-max-width-without-padding);
    margin: 0 auto;
    padding-top: 26px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 0;
    margin-top: -23px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
    gap: 33px;
    align-items: flex-start;
  }
}
